{% extends 'base.html' %}
{% block title %}Ticket detail{% endblock title %}
{% block content %}
<div class="container-fluid text-white mt-3">
<h2>{{ ticket.title }}</h2>
<small>Last updated: {{ ticket.last_modified }}, created: {{ ticket.created }}</small>
<p>Opened by <a class="text-white" href="{{ ticket.owner.get_absolute_url }}">{{ ticket.owner }}</a></p>
{% if ticket.assigned_user %}
<p>Assigned to <a class="text-white" href="{{ ticket.assigned_user.get_absolute_url }}">{{ ticket.assigned_user }}</a></p>
{% endif %}
<p>Priority: {{ ticket.priority }}</p>
<p>Status: {{ ticket.status }}</p>
<p>Classification: {{ ticket.classification }}</p>
<hr>
{{ ticket.description|linebreaks }}
{% if request.user.profile.id == ticket.owner.id %}
<a href="{% url 'tickets:edit' id=ticket.id %}"><button class="btn btn-warning text-white">Edit</button></a>
{% endif %}
<a href="{% url 'tickets:history' id=ticket.id %}"><button class="btn btn-primary">History</button></a>
<a href="{% url 'comments:create' %}?tid={{ ticket.id }}"><button class="btn btn-success">Comment</button></a>
{% if comments %}
<h3 class="mt-5">Comments</h3>
<div class="text-dark">
{% include 'comments.html' %}
</div>
{% endif %}
</div>
{% endblock content %}
