asgiref==3.8.1
black==24.10.0
click==8.1.8
Django==5.1.5
djangorestframework==3.15.2
gunicorn==20.1.0
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
psycopg2==2.9.1
python-dotenv==0.18.0
pytz==2021.1
sqlparse==0.4.1
tomli==2.2.1
typing_extensions==4.12.2
whitenoise==5.2.0
