{% extends 'base.html' %}
{% block title %}User list{% endblock title %}
{% block content %}
<div class="container mt-3">
    <h4 class="text-center text-white">List of all users</h4>
{% for user in users %}
    <div class="card mb-4 px-3 pt-3 d-flex flex-row">
    <a class="text-decoration-none text-dark" style="flex: 1;" href="{% url 'user_detail' id=user.id %}">
        <h5>{{ user.username }}</h5>
    {% with roles=user.profile.roles %}
    <p>Role: {% if 'admin' in roles %}Admin{% elif 'manager' in roles %}Project Manager{% elif 'developer' in roles %}Developer{% else %}Submitter{% endif %}</p>
    {% endwith %}
    </a>
    <div>
    {% if request.user.username == user.username %}
    <button class="btn btn-success"><a class="text-decoration-none text-white" href="{% url 'edit' %}"><i class="fas fa-edit"></i> Edit</a></button>
    {% endif %}
    {% if user.is_authenticated %}
    {% if 'admin' in roles or request.user.is_superuser and request.user.email not in settings.DEMO_ACCOUNTS %}
    <button class="btn btn-secondary"><a class="text-decoration-none text-white" href="{% url 'user_role' id=user.id %}"><i class="fas fa-list-alt"></i> Edit role</a></button>
    {% endif %}
    {% endif %}
    </div>
    </div>
{% endfor %}
{% include 'pagination.html' with page=users %}
</div>
{% endblock content %}
