<div class="d-flex row justify-content-start overflow">
{% for ticket in tickets %}
    <div class="card p-3 m-4 shadow bg-body rounded" style="width: 20rem;">
        <div class="card-body">
        <a  class="text-decoration-none text-dark" href="{{ ticket.get_absolute_url }}">
        <h3 class="card-title">{{ ticket.title }}</h3>
        <small>Last updated: {{ ticket.last_modified }}, created: {{ ticket.created }}</small>
        <div class="card-text">{{ ticket.description|linebreaks|truncatewords:30 }}</div>
        </a>
        </div>

<div class="btn-group dropup">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton{{ forloop.counter }}" data-bs-toggle="dropdown" aria-expanded="false">
    Options
  </button>
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton{{ forloop.counter }}">
    {% if 'admin' in roles or 'manager' in roles or request.user.is_superuser %}
    <li><a class="dropdown-item" href="{% url 'tickets:edit' id=ticket.id %}">Edit</a></li>
    <li><a class="dropdown-item" href="{% url 'tickets:assign' id=ticket.id %}">Assign</a></li>
    {% endif %}
    <li><a class="dropdown-item" href="{{ ticket.project.get_absolute_url }}">View project</a></li>
    <li><a class="dropdown-item" href="{% url 'tickets:history' id=ticket.id %}">History</a></li>
    {% if request.user.is_authenticated %}
    <li><a class="dropdown-item" href="{% url 'comments:create' %}?tid={{ ticket.id }}"><button class="btn btn-success" style="width: 100%;">Comment</button></a></li>
    {% endif %}
  </ul>
</div>
</div>
{% endfor %}
</div>
