{% extends 'base.html' %}
{% block title %}Detail{% endblock title %}
{% block content %}
<div class="container text-white mt-3">
<h1>{{ project.title }}</h1>
<small>Created on {{ project.created }}</small>
{{ project.description|linebreaks }}
<br>
Members: {% for user in project.users.all %}<a class="text-white" href="{{ user.get_absolute_url }}">{{ user }}</a>{% if not forloop.lastloop %}, {% endif %}{% endfor %}
<hr>
    {% if 'admin' in roles or 'manager' in roles or request.user.is_superuser %}
    <button class="btn btn-warning"><a class="text-white text-decoration-none" href="{% url 'projects:edit' id=project.id %}">Edit</a></button>
    <button class="btn btn-primary"><a class="text-white text-decoration-none" href="{% url 'projects:assign' id=project.id %}">Assign</a></button>
    {% endif %}
    <button class="btn btn-success"><a class="text-white text-decoration-none" href="{% url 'tickets:create' %}?pid={{ project.id }}">New ticket</a></button>
    {% if 'admin' in roles or request.user.is_superuser %}
    <form class="d-inline" method='POST' action='{% url "projects:archive" id=project.id %}'>
        {% csrf_token %}
        <input class="btn btn-{% if project.archived %}success{% else %}danger{% endif %}" type="submit" value="{% if project.archived %}Unarchive{% else %}Archive{% endif %}">
    </form>
    {% endif %}

<h2 class="mt-5">Tickets</h2>
{% include 'tickets.html' %}
</div>
{% endblock content %}
